:root {
    --dot-size: 8px;
    --dot-gap: 8px;
    --margin: 24px;
}

.form-container {
    padding: 1rem .3rem;
    width: 100%;
}

nav.progress {
    display: flex;
    justify-content: center;
}

.dot {
    width: var(--dot-size);
    height: var(--dot-size);
    margin: 0 var(--dot-gap);
    background-color: var(--md-primary-fg-color--dark);
    border-radius: 50%;
    transition: background-color 200ms;
}

.dot.active {
    background-color: var(--md-primary-fg-color);
}

.dot.done {
    background-color: var(--md-primary-fg-color--light);
}

.choices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
    gap: var(--margin);
    margin-bottom: var(--margin);
    margin-top: var(--margin);
}

.choice-btn {
    padding: .8em 2em
}

.choice-btn.selected {
    background-color: var(--md-accent-fg-color);
}

.choice-btn.selected::before {
    content: "\2713\00A0\00A0";
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.next-steps, .md-typeset .grid.next-steps {
    display: none;
}

.next-steps.visible {
    display: block;
}

.md-typeset .grid.next-steps.visible {
    display: grid;
}